.navbar {
    height: 3vh;
    padding: 1% 2%;
    position: fixed;
    background-color: #000000;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    margin-right: 4vw;
    flex-grow: 0.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item:hover {
    cursor: pointer;
}
